extends layout
block content
    header.bt-header
        .bt-content.bt-clear.bt-container
            .bt-hdleft.bt-color-white
                span.bt-logo
                span.bt-logoinfo
                    | schoeu
            .bt-hdright.bt-color-white.bt-text-right
                if username
                    span.bt-login
                        a.bt-a(href='#') #{username}
                    span.bt-signin
                        a.bt-a(href='/users/signout') 注销
                else
                    span.bt-login
                        a.bt-a(href='/users/login') 登录
                    span.bt-signin
                        a.bt-a(href='/users/signup') 注册

    block gird_content
    .bt-footer-container
        .bt-footer-area
            .bt-footer-text
                | xxx交流群：xxxx
            .bt-footer-text
                | Copyright © schoeu.com 4.0 2016 All Rights Reserved. 京ICP备xxxx号
