block loggedin_header
    style.
        .bt-loggedin, .bt-signout {
            position: relative;
            display: inline-block;
            margin-top: 21px;
        }

        .bt-pinfo-img {
            width: 55px;
            height: 55px;
        }

        .bt-pinfo-name {
            color: #737693;
            font-size: 18px;
        }

        .bt-pinfo-sign {
            font-size: 14px;
            color: #B5B9D3;
        }

        .bt-loggedin:hover .bt-pinfo {
            display: block;
        }

        .bt-pinfo {
            position: absolute;
            right: -30px;
            top: 39px;
            width: 230px;
            height: 160px;
            border: 1px solid #000;
            z-index: 10;
        }
    header.bt-header
        .bt-clear.bt-container.bt-content
            .bt-hdleft.bt-color-white
                span.bt-logo
                span.bt-logoinfo
                    | SCHOEU
            .bt-hdright.bt-color-white.bt-text-right
                .bt-login.bt-loggedin
                    | 爱美丽
                    .bt-pinfo.bt-hide
                        .bt-pinfo-img
                        .bt-pinfo-infos
                            .bt-pinfo-name
                                | 爱美丽
                            .bt-pinfo-sign
                                | 彪悍的人生不需要解释
                .bt-signout
                    | 退出