extends grid

block cstyle
    link(type='text/css', rel='stylesheet', href='/dict/css/main.css')
block grid_content
    if username
        .bt-dialog
            form.bt-tagsf(action="/tags/add" method="post")
                .bt-infos-nn
                    label(for='tagname') 类目名称
                    input#tagname.bt-font-14(type='text', name='tagname', placeholder='请输入类目名称')
                .tagsText
                .bt-login-libtn.bt-font-14.bt-text-center
                    input.bt-btn.bt-tags-submit(type='submit', value='确定')
                .bt-tags-libtn.bt-font-14.bt-text-center
                a.bt-tags-libtn(href="/") 取消
    .bt-container.bt-nav.bt-font-14
        .bt-clear
            if showTags && showTags.length > 0
                each tagItem in showTags
                    .bt-nav-item(data-id=tagItem.value) #{tagItem.name}
            else
                p 添加自定义类目

        .bt-site-dialog.bt-hide
            form.bt-sitesf(action="/sites/add" method="post")
                .bt-infos-nn
                    label(for='sitetags') 类目选择
                    select(id='sitetags' name='sitetags')
                        if showTags && showTags.length > 0
                            each tagItem in showTags
                                option(value=tagItem.value) #{tagItem.name}
                            else
                                option(value='') 暂无
                .bt-infos-nn
                    label(for='sitename') 内容名称
                    input#sitename.bt-font-14(type='text', name='sitename', placeholder='请输入内容名称')
                .bt-infos-nn
                    label(for='siteurl') 内容链接
                    input#siteurl.bt-font-14(type='text', name='siteurl', placeholder='请输入内容链接')
                .bt-infos-nn
                    label(for='sitedesc') 内容描述
                    input#sitedesc.bt-font-14(type='text', name='sitedesc', placeholder='请输入内容描述')
                .sitesText
                .bt-font-14.bt-text-center
                    input.bt-btn.bt-sites-submit(type='submit', value='确定')
                .bt-font-14.bt-text-center
                    a.bt-sites-libtn(href="/") 取消
        .bt-recom-list
            .bt-recom-area
                header.bt-recom-title 设计平台
                .bt-recom-rcitems
                    .bt-recom-rerow
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                               .bt-item-add 添加

            .bt-recom-area
                header.bt-recom-title 设计平台
                .bt-recom-rcitems
                    .bt-recom-rerow
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏

                    .bt-recom-rerow
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏


block cscript
    script(src='/dict/js/main.js')
