extends grid

block cstyle
    link(type='text/css', rel='stylesheet', href='/css/main.css')
block gird_content
    if username
        .bt-dialog
            form.bt-tagsf(action="/tags/add" method="post")
                .bt-infos-nn
                    label(for='tagname') 类目名称
                    input#tagname.bt-font-14(type='text', name='tagname', placeholder='请输入类目名称')
                .tagsText
                .bt-login-libtn.bt-font-14.bt-text-center
                    input.bt-btn.bt-tags-submit(type='submit', value='确定')
                .bt-tags-libtn.bt-font-14.bt-text-center
                a.bt-tags-libtn(href="/") 取消
    .bt-container.bt-nav.bt-font-14
        .bt-clear
            if showTags && showTags.length > 0
                each tagItem in showTags
                    .bt-nav-item
                        | #{tagItem}
            else
                p 暂无标签信息
        .bt-recom-list
            .bt-recom-area
                header.bt-recom-title 设计平台
                .bt-recom-rcitems
                    .bt-recom-rerow
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                    .bt-recom-rerow
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
            .bt-recom-area
                header.bt-recom-title 设计平台
                .bt-recom-rcitems
                    .bt-recom-rerow
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                    .bt-recom-rerow
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏
                        .bt-recom-item
                            header
                                span.bt-recom-icon
                                span.bt-recom-hdtext Dribble
                            .bt-recom-desc
                                | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                            .bt-recom-col
                                span.bt-recom-cicon
                                span.bt-recom-like 收藏

block cscript
    script(src='/js/main.js')
