extends grid

block cstyle
    link(type='text/css', rel='stylesheet', href='/css/password.css')
block gird_content
   .bt-psw-form.bt-container
       form.bt-pswf(action="/users/password" method="post")
           .bt-infos-nn
               label(for='nickname') 昵称
               input#nickname.bt-font-14(type='text', name='nickname', placeholder='请输入昵称')
           .bt-infos-sexm
               label(for='sexm') 男
               input#sexm.bt-font-14(type='radio', name='sex' value="1")
               label(for='sexf') 女
               input#sexf.bt-font-14(type='radio', name='sex' value="0")
           .bt-infos-email
               label(for='email') 邮箱
               input#email.bt-font-14(type='text', name='email', placeholder='lili@163.com')
           label(for='description')
               .bt-infos-email
                   textarea#description.bt-font-14(name='description', placeholder='还是留下点神马吧...')
           label(for='sign')
               .bt-infos-email
                   input#sign.bt-font-14(type='text', name='sign', placeholder='彪悍的人生不需要解释.')
           .pswText
           .bt-login-libtn.bt-font-14.bt-text-center
               input.bt-btn.bt-psw-submit(type='submit', value='确定')
           .bt-login-libtn.bt-font-14.bt-text-center
           a.bt-login-libtn(href="/") 取消
block cscript
    script(src='/js/password.js')
