extends grid

block cstyle
    link(type='text/css', rel='stylesheet', href='/css/password.css')
block gird_content
   .bt-psw-form.bt-container
       form.bt-pswf(action="/users/password" method="post")
           .bt-infos-nn
               label(for='opsw') 原密码
               input#opsw.bt-font-14(type='password', name='opsw', placeholder='原密码')
           .bt-infos-email
               label(for='password') 新密码
               input#password.bt-font-14(type='password', name='password', placeholder='新密码')
           label(for='repassword')
               .bt-infos-email
                   input#repassword.bt-font-14(type='password', name='repassword', placeholder='重复新密码')
           .pswText
           .bt-login-libtn.bt-font-14.bt-text-center
               input.bt-btn.bt-psw-submit(type='submit', value='确定')
           .bt-login-libtn.bt-font-14.bt-text-center
           a.bt-login-libtn(href="/") 取消
block cscript
    script(src='/js/password.js')
