block signin_header
    header.bt-header
        .bt-content.bt-clear.bt-container
            .bt-hdleft.bt-color-white
                span.bt-logo
                span.bt-logoinfo
                    | SCHOEU
                .bt-logoinfo.bt-font-13
                    span.bt-recom-opacity5.bt-gap-left-8
                        | 首页
                    span.bt-gap-left-8
                        | 我的主页
                    span.bt-recom-opacity5.bt-gap-left-8
                        | 消息
    