html
    head
        link(type='text/css', rel='stylesheet', href='/static/css/main.css')
    body
        .bt-container.bt-nav.bt-font-14
            .bt-clear
                .bt-nav-item
                    | 设计平台
                .bt-nav-item
                    | 动效设计开发
                .bt-nav-item
                    | 数据库
                .bt-nav-item
                    | 人人都是产品经理
                .bt-nav-item
                    | 设计平台
                .bt-nav-item
                    | 动效设计开发
                .bt-nav-item
                    | 数据库
                .bt-nav-item
                    | 人人都是产品经理
                .bt-nav-item
                    | 设计平台
                .bt-nav-item
                    | 动效设计开发
                .bt-nav-item
                    | 数据库
                .bt-nav-item
                    | 人人都是产品经理
            .bt-recom-list
                .bt-recom-area
                    header.bt-recom-title 设计平台
                    .bt-recom-rcitems
                        .bt-recom-rerow
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                        .bt-recom-rerow
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                .bt-recom-area
                    header.bt-recom-title 设计平台
                    .bt-recom-rcitems
                        .bt-recom-rerow
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                        .bt-recom-rerow
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
                            .bt-recom-item
                                header
                                    span.bt-recom-icon
                                    span.bt-recom-hdtext Dribble
                                .bt-recom-desc
                                    | 展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                                .bt-recom-col
                                    span.bt-recom-cicon
                                    span.bt-recom-like 收藏
        script(src='/static/js/jq.min.js')
        script(src='/static/js/main.js')
